<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

# **Collecting Job Data Using APIs**

Estimated time needed: **30** minutes

## Objectives

After completing this lab, you will be able to:

*   Collect job data using Jobs API
*   Store the collected data into an excel spreadsheet.

><strong>Note: Before starting with the assignment make sure to read all the instructions and then move ahead with the coding part.</strong>

#### Instructions

To run the actual lab, firstly you need to click on the [Jobs_API](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/Jobs_API.ipynb) notebook link. The file contains flask code which is required to run the Jobs API data.

Now, to run the code in the file that opens up follow the below steps.

Step1: Download the file. 

Step2: Upload the file into your current Jupyter environment using the upload button in your Jupyter interface. Ensure that the file is in the same folder as your working .ipynb file.

Step 2: If working in a local Jupyter environment, use the "Upload" button in your Jupyter interface to upload the Jobs_API notebook into the same folder as your current .ipynb file.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/Upload.PNG">

Step3:  Open the Jobs_API notebook, and run all the cells to start the Flask application. Once the server is running, you can access the API from the URL provided in the notebook.

If you want to learn more about flask, which is optional, you can click on this link [here](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/FLASK_API.md.html).

Once you run the flask code, you can start with your assignment.

## Dataset Used in this Assignment

The dataset used in this lab comes from the following source: https://www.kaggle.com/promptcloud/jobs-on-naukricom under the under a **Public Domain license**.

> Note: We are using a modified subset of that dataset for the lab, so to follow the lab instructions successfully please use the dataset provided with the lab, rather than the dataset from the original source.

The original dataset is a csv. We have converted the csv to json as per the requirement of the lab.

## Warm-Up Exercise

Before you attempt the actual lab, here is a fully solved warmup exercise that will help you to learn how to access an API.

Using an API, let us find out who currently are on the International Space Station (ISS).<br> The API at [http://api.open-notify.org/astros.json](http://api.open-notify.org/astros.json?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ) gives us the information of astronauts currently on ISS in json format.<br>
You can read more about this API at [http://open-notify.org/Open-Notify-API/People-In-Space/](http://open-notify.org/Open-Notify-API/People-In-Space?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

In [71]:
import requests # you need this module to make an API call
import pandas as pd

In [72]:
api_url = "http://api.open-notify.org/astros.json" # this url gives use the astronaut data

In [73]:
response = requests.get(api_url) # Call the API using the get method and store the
                                # output of the API call in a variable called response.

In [74]:
if response.ok:             # if all is well() no errors, no network timeouts)
    data = response.json()  # store the result in json format in a variable called data
                            # the variable data is of type dictionary.

In [75]:
print(data)   # print the data just to check the output or for debugging

{'people': [{'craft': 'ISS', 'name': 'Oleg Kononenko'}, {'craft': 'ISS', 'name': 'Nikolai Chub'}, {'craft': 'ISS', 'name': 'Tracy Caldwell Dyson'}, {'craft': 'ISS', 'name': 'Matthew Dominick'}, {'craft': 'ISS', 'name': 'Michael Barratt'}, {'craft': 'ISS', 'name': 'Jeanette Epps'}, {'craft': 'ISS', 'name': 'Alexander Grebenkin'}, {'craft': 'ISS', 'name': 'Butch Wilmore'}, {'craft': 'ISS', 'name': 'Sunita Williams'}, {'craft': 'Tiangong', 'name': 'Li Guangsu'}, {'craft': 'Tiangong', 'name': 'Li Cong'}, {'craft': 'Tiangong', 'name': 'Ye Guangfu'}], 'number': 12, 'message': 'success'}

Print the number of astronauts currently on ISS.

In [76]:
print(data.get('number'))

12

Print the names of the astronauts currently on ISS.

In [77]:
astronauts = data.get('people')
print("There are {} astronauts on ISS".format(len(astronauts)))
print("And their names are :")
for astronaut in astronauts:
    print(astronaut.get('name'))

There are 12 astronauts on ISS
And their names are :
Oleg Kononenko
Nikolai Chub
Tracy Caldwell Dyson
Matthew Dominick
Michael Barratt
Jeanette Epps
Alexander Grebenkin
Butch Wilmore
Sunita Williams
Li Guangsu
Li Cong
Ye Guangfu

Hope the warmup was helpful. Good luck with your next lab!

## Lab: Collect Jobs Data using Jobs API

### Objective: Determine the number of jobs currently open for various technologies  and for various locations

Collect the number of job postings for the following locations using the API:

* Los Angeles
* New York
* San Francisco
* Washington DC
* Seattle
* Austin
* Detroit

In [78]:
# Install required libraries (execute this cell first)
!pip install openpyxl

# Import required libraries
import requests
import pandas as pd
import json

Requirement already satisfied: openpyxl in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (3.1.3)
Requirement already satisfied: et-xmlfile in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from openpyxl) (1.1.0)

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/jobs.json#### Write a function to get the number of jobs for the Python technology.<br>
> Note: While using the lab you need to pass the **payload** information for the **params** attribute in the form of **key** **value** pairs.
  Refer the ungraded **rest api lab** in the course **Python for Data Science, AI & Development**  <a href="https://www.coursera.org/learn/python-for-applied-data-science-ai/ungradedLti/P6sW8/hands-on-lab-access-rest-apis-request-http?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01">link</a>
  
 ##### The keys in the json are 
 * Job Title
 
 * Job Experience Required
 
 * Key Skills
 
 * Role Category
 
 * Location
 
 * Functional Area
 
 * Industry
 
 * Role 
 
You can also view  the json file contents  from the following <a href = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/jobs.json">json</a> URL.

In [79]:
# API URL
api_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/jobs.json"

# Função auxiliar para carregar dados da API
def fetch_job_data():
    """
    Busca os dados de jobs da API e retorna como lista de dicionários
    """
    try:
        response = requests.get(api_url)
        if response.status_code == 200:
            return response.json()
        else:
            print(f"Erro ao acessar API: {response.status_code}")
            return []
    except Exception as e:
        print(f"Erro na requisição: {e}")
        return []

# Carregar dados uma vez para usar nas funções
job_data = fetch_job_data()
print(f"Total de vagas carregadas: {len(job_data)}")

Total de vagas carregadas: 27005

Calling the function for Python and checking if it works.

In [80]:
def get_number_of_jobs_T(technology):
    """
    Conta o número de vagas que mencionam uma tecnologia específica
    """
    number_of_jobs = 0
    technology_lower = technology.lower()
    
    for job in job_data:
        # Busca a tecnologia em Key Skills (principal campo)
        key_skills = job.get('Key Skills', '').lower()
        job_title = job.get('Job Title', '').lower()
        
        # Verifica se a tecnologia está presente nas habilidades ou título
        if technology_lower in key_skills or technology_lower in job_title:
            number_of_jobs += 1
    
    return technology, number_of_jobs
# Calling the function for Python and checking if it works
get_number_of_jobs_T("Python")

('Python', 1188)

#### Write a function to find number of jobs in US for a location of your choice

In [81]:
def get_number_of_jobs_L(location):
    """
    Conta o número de vagas em uma localização específica
    """
    number_of_jobs = 0
    location_lower = location.lower()
    
    for job in job_data:
        job_location = job.get('Location', '').lower()
        if location_lower in job_location:
            number_of_jobs += 1
    
    return location, number_of_jobs
# Call the function for Los Angeles and check if it is working
get_number_of_jobs_L("Los Angeles")

('Los Angeles', 640)

Call the function for Los Angeles and check if it is working.

### Store the results in an excel file

Call the API for all the given technologies above and write the results in an excel spreadsheet.

If you do not know how create excel file using python, double click here for **hints**.

<!--

from openpyxl import Workbook        # import Workbook class from module openpyxl
wb=Workbook()                        # create a workbook object
ws=wb.active                         # use the active worksheet
ws.append(['Country','Continent'])   # add a row with two columns 'Country' and 'Continent'
ws.append(['Eygpt','Africa'])        # add a row with two columns 'Egypt' and 'Africa'
ws.append(['India','Asia'])          # add another row
ws.append(['France','Europe'])       # add another row
wb.save("countries.xlsx")            # save the workbook into a file called countries.xlsx


-->

Create a python list of all technologies for which you need to find the number of jobs postings.

In [82]:
# Create a python list of all technologies
technologies = [
    "C", "C#", "C++", "Java", "JavaScript", "Python", 
    "Scala", "Oracle", "SQL Server", "MySQL Server", "PostgreSQL", "MongoDB"
]

In [83]:
# Criar DataFrame para armazenar resultados de tecnologias
tech_results = []

print("=== PROCESSANDO TECNOLOGIAS ===")
for technology in technologies:
    tech_name, job_count = get_number_of_jobs_T(technology)
    tech_results.append({'Technology': tech_name, 'Number_of_Jobs': job_count})
    print(f"{tech_name}: {job_count} jobs")

# Criar DataFrame
df_technologies = pd.DataFrame(tech_results)
print("\nDataFrame de Tecnologias:")
print(df_technologies)

=== PROCESSANDO TECNOLOGIAS ===
C: 25973 jobs
C#: 555 jobs
C++: 513 jobs
Java: 3547 jobs
JavaScript: 2254 jobs
Python: 1188 jobs
Scala: 149 jobs
Oracle: 928 jobs
SQL Server: 431 jobs
MySQL Server: 0 jobs
PostgreSQL: 88 jobs
MongoDB: 210 jobs

DataFrame de Tecnologias:
      Technology  Number_of_Jobs
0              C           25973
1             C#             555
2            C++             513
3           Java            3547
4     JavaScript            2254
5         Python            1188
6          Scala             149
7         Oracle             928
8     SQL Server             431
9   MySQL Server               0
10    PostgreSQL              88
11       MongoDB             210

In [84]:
# Processar localizações
locations = ["Los Angeles", "New York", "San Francisco", "Washington DC", "Seattle", "Austin", "Detroit"]

loc_results = []

print("=== PROCESSANDO LOCALIZAÇÕES ===")
for location in locations:
    loc_name, job_count = get_number_of_jobs_L(location)
    loc_results.append({'Location': loc_name, 'Number_of_Jobs': job_count})
    print(f"{loc_name}: {job_count} jobs")

# Criar DataFrame
df_locations = pd.DataFrame(loc_results)
print("\nDataFrame de Localizações:")
print(df_locations)

=== PROCESSANDO LOCALIZAÇÕES ===
Los Angeles: 640 jobs
New York: 3226 jobs
San Francisco: 435 jobs
Washington DC: 5316 jobs
Seattle: 3375 jobs
Austin: 434 jobs
Detroit: 3945 jobs

DataFrame de Localizações:
        Location  Number_of_Jobs
0    Los Angeles             640
1       New York            3226
2  San Francisco             435
3  Washington DC            5316
4        Seattle            3375
5         Austin             434
6        Detroit            3945

In [85]:
# Salvar em Excel usando pandas (mais compatível)
with pd.ExcelWriter('job-postings.xlsx', engine='openpyxl') as writer:
    df_technologies.to_excel(writer, sheet_name='Technologies', index=False)
    df_locations.to_excel(writer, sheet_name='Locations', index=False)

print("Arquivo job-postings.xlsx criado com sucesso!")

Arquivo job-postings.xlsx criado com sucesso!

In [86]:
# Alternativa: Salvar em CSV (sempre funciona)
df_technologies.to_csv('technologies_jobs.csv', index=False)
df_locations.to_csv('locations_jobs.csv', index=False)

print("Arquivos CSV criados:")
print("- technologies_jobs.csv")
print("- locations_jobs.csv")

Arquivos CSV criados:
- technologies_jobs.csv
- locations_jobs.csv

In [87]:
# Mostrar top 5 tecnologias
print("=== TOP 5 TECNOLOGIAS ===")
top_tech = df_technologies.sort_values('Number_of_Jobs', ascending=False).head()
print(top_tech)

print("\n=== TOP 5 LOCALIZAÇÕES ===")
top_loc = df_locations.sort_values('Number_of_Jobs', ascending=False).head()
print(top_loc)

=== TOP 5 TECNOLOGIAS ===
   Technology  Number_of_Jobs
0           C           25973
3        Java            3547
4  JavaScript            2254
5      Python            1188
7      Oracle             928

=== TOP 5 LOCALIZAÇÕES ===
        Location  Number_of_Jobs
3  Washington DC            5316
6        Detroit            3945
4        Seattle            3375
1       New York            3226
0    Los Angeles             640

#### In the similar way, you can try for below given technologies and results  can be stored in an excel sheet.

Collect the number of job postings for the following languages using the API:

*   C
*   C#
*   C++
*   Java
*   JavaScript
*   Python
*   Scala
*   Oracle
*   SQL Server
*   MySQL Server
*   PostgreSQL
*   MongoDB

In [92]:
# Collect the number of job postings for the following languages using the API
all_technologies = [
    "C", "C#", "C++", "Java", "JavaScript", "Python", 
    "Scala", "Oracle", "SQL Server", "MySQL Server", "PostgreSQL", "MongoDB"
]

locations = ["Los Angeles", "New York", "San Francisco", "Washington DC", "Seattle", "Austin", "Detroit"]

# === PROCESSAR TECNOLOGIAS ===
tech_data = []
print("=== ANÁLISE COMPLETA DE TECNOLOGIAS ===")
for technology in all_technologies:
    tech_name, job_count = get_number_of_jobs_T(technology)
    tech_data.append({
        'Technology': tech_name,
        'Number of Jobs': job_count
    })
    print(f"{tech_name}: {job_count} jobs")

# Criar DataFrame de tecnologias
df_technologies = pd.DataFrame(tech_data)

# === PROCESSAR LOCALIZAÇÕES ===
loc_data = []
print("\n=== ANÁLISE DE LOCALIZAÇÕES ===")
for location in locations:
    loc_name, job_count = get_number_of_jobs_L(location)
    loc_data.append({
        'Location': loc_name,
        'Number of Jobs': job_count
    })
    print(f"{loc_name}: {job_count} jobs")

# Criar DataFrame de localizações
df_locations = pd.DataFrame(loc_data)

# === SALVAR EM EXCEL ===
try:
    with pd.ExcelWriter('complete-job-analysis.xlsx', engine='openpyxl') as writer:
        df_technologies.to_excel(writer, sheet_name='Technologies', index=False)
        df_locations.to_excel(writer, sheet_name='Locations', index=False)
    print("\nArquivo complete-job-analysis.xlsx criado com sucesso!")
except Exception as e:
    print(f"Erro ao criar Excel: {e}")
    # Fallback para CSV
    df_technologies.to_csv('technologies-analysis.csv', index=False)
    df_locations.to_csv('locations-analysis.csv', index=False)
    print("\nArquivos CSV criados:")
    print("- technologies-analysis.csv")
    print("- locations-analysis.csv")

# === MOSTRAR RESULTADOS ===
print("\n=== RESUMO DOS RESULTADOS ===")
print("\nTecnologias (ordenadas por número de vagas):")
df_tech_sorted = df_technologies.sort_values('Number of Jobs', ascending=False)
print(df_tech_sorted)

print("\nLocalizações (ordenadas por número de vagas):")
df_loc_sorted = df_locations.sort_values('Number of Jobs', ascending=False)
print(df_loc_sorted)

=== ANÁLISE COMPLETA DE TECNOLOGIAS ===
C: 25973 jobs
C#: 555 jobs
C++: 513 jobs
Java: 3547 jobs
JavaScript: 2254 jobs
Python: 1188 jobs
Scala: 149 jobs
Oracle: 928 jobs
SQL Server: 431 jobs
MySQL Server: 0 jobs
PostgreSQL: 88 jobs
MongoDB: 210 jobs

=== ANÁLISE DE LOCALIZAÇÕES ===
Los Angeles: 640 jobs
New York: 3226 jobs
San Francisco: 435 jobs
Washington DC: 5316 jobs
Seattle: 3375 jobs
Austin: 434 jobs
Detroit: 3945 jobs

Arquivo complete-job-analysis.xlsx criado com sucesso!

=== RESUMO DOS RESULTADOS ===

Tecnologias (ordenadas por número de vagas):
      Technology  Number of Jobs
0              C           25973
3           Java            3547
4     JavaScript            2254
5         Python            1188
7         Oracle             928
1             C#             555
2            C++             513
8     SQL Server             431
11       MongoDB             210
6          Scala             149
10    PostgreSQL              88
9   MySQL Server               0

Localizações (ordenadas por número de vagas):
        Location  Number of Jobs
3  Washington DC            5316
6        Detroit            3945
4        Seattle            3375
1       New York            3226
0    Los Angeles             640
2  San Francisco             435
5         Austin             434

## Authors

Ayushi Jain

### Other Contributors

Rav Ahuja

Lakshmi Holla

Malika

Copyright © IBM Corporation.

<!--## Change Log

<!--| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- | 
| 2022-01-19        | 0.3     | Lakshmi Holla        | Added changes in the markdown      |
| 2021-06-25        | 0.2     | Malika            | Updated GitHub job json link       |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |--!>